@charset "UTF-8";

h1 {
	font-size: 50px;
	width: 550px;
	font-weight: bolder;
	text-align: center;
	margin: auto;
}

h4, h5 {
	font-weight: bolder;
}
div#title {
	width: 555px;
	margin: auto;
	text-align: center;
}

.tab-item {
	width: 250px;
	display: inline-block;
	font-size: 25px;
/* 	font-weight: bold; */
	text-align: center;
	margin: auto;
 	border: none;
	border-radius: 20px;
}
.tab-item:hover{
	background-color: aliceblue;
    color: #44a2ce;
    font-weight: bolder;
    cursor: pointer;
}

.tab-background {
    background-color: aliceblue;
    color: #44a2ce;
    font-weight: bold;
    border: 3px solid #44a2ce;
    border-radius: 20px;
}

#selectParent {
	width: 1570px;
	margin: auto;
}
.tbl{
	width: 1200px;
	margin: 30px auto;
}
.explanation {
	border: solid 3px;
	display: inline-block;
	width: 450px;
	height: 370px;
	padding: 20px;
	border-radius: 15px;
	margin: 20px;
	background-color: white;
}
.mainImg {
	height: 370px;
	width: 600px;
}
#float-container{
	margin-left: 1rem;
}
#float-container div{
 	text-align: center; 
}
label{
	font-size: 15px;
	font-weight:bold;
}

.para{
	font-stretch: wider;
	font-size: 25px;	
	font-style: oblique;
}
#para{
	font-style:normal;
	color: navy;
	font-weight: bolder;
	font-size: 30px;	
}
#mainPara{
	margin: 0.5rem auto;
	
}
#mainParaTitle{
	font-size: 35px;
	font-stretch: wider;
}

.btn-blue {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    margin: auto; 
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: #44a2ce;
}

.btn-blue:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
#count, #date {
	width: 150px; 
}
#logo{
	width: 200px;
	height: 200px;
}

#para:hover{
	transform: scale(1.2);
}

/* 메인 화면 3열 표시 */
.main-container{
display: grid;
grid-template-columns: 2fr 3fr 1fr;
grid-gap: 1rem;
width: 100rem;
justify-content: center;
}

.main-item-1{
	display:block;
	align-items: center;
    justify-content: center;
    text-align: center;
}

.main-item-3{
	display:grid;
	grid-template-clomns: 1fr;
	grid-gap: 1rem;
	align-items: top;
    justify-content: top;
    text-align: left;
    height: 300px;
    margin-top: 8rem;
    /* position:fixed; 
   	right:50px;
   	left:1450px; */
   	
   	position: fixed; 
   	right: 50%; 
   	top: 180px; 
   	margin-right: -720px; 
   	/* text-align:center;  */
   	width: 120px;


}

/* aside */

.aside-container a{
	text-decoration-line: none;
	color: black;
}

.aside-container {
    display: inline-block;
    width: 200px;
    height: 700px;
    line-height: 80px;
    align-items: top;
    justify-content: top;
    text-align: center;
   	padding: 0.5rem;
    margin: 0.5rem;
}
.aside-tab-item{
	margin-bottom: 0.2rem;
	background-color: #F2F2F2;
    border-radius: 20px;
}

.aside-tab-item p{
	font-size: 18px;
}

.aside-tab-item:hover {
    background-color: aliceblue;
    color: #44a2ce;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}    

.aside-title{
	margin-top: 1rem;
	margin-bottom:0.5rem;
	padding-bottom: 1rem;
}

/* footer */
.footer {
    max-width: 75%;
    margin-top: 1rem;
    overflow: auto;
    margin-bottom: 0rem;
    color : #999;
    font-size: 0.9rem;
    
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}
