<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.korea.travel.activities.ActivitiesDTO" alias="activitiesdto" />
		<typeAlias type="com.korea.travel.purchase.PurchaseDTO" alias="purchasedto" />
		<typeAlias type="com.korea.travel.member.MemberDTO" alias="memberdto"/>
	</typeAliases>

</configuration>
